* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: -apples-system, BlinkMacSystemFont,"Segoe UI", "Roboto","Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #F9E2B5;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", 
	monospace;
}

.App {
background-color: #ffffff;
max-width: 992px;
margin: auto;
}

nav {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid grey;
	background-color: #2FBF25;
	padding: 10px 20px;
}

.nav-menu li {
	display: inline-block;
	list-style: none;
}

.nav-menu__link{
	display: inline-block;
	margin: 5px;
	border: 1px solid grey;
	text-decoration: none;
	border-radius: 5px;
	padding: 3px 8px;
	background-color: #ffffff;
}

.nav-menu__link.active{
	background-color: #E9A105;
	color: #ffffff;

}

.logo-link{
	color: #ffffff;
}

.main-content{
	width: 90%;
	margin: auto;
	padding-bottom: 50px;
}

.main-content h2 {
	text-align: center;
	margin-bottom: 20px;
}


.home-img{
	width: 100%;
	height: 400px;
	background-image: url('../fotos/logo.jpg');
	/*background-size: contain;*/
	display: block;
	margin-bottom: 50px;
}

.home-thumbnail-1, .home-thumbnail-2, .home-thumbnail-3 {
	background-size: contain;
	width: 88px;
	height: 100px;
}

.thumbnail-container {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
	width: 100%;
}

.home-thumbnail-1 {
	background-image: url('../fotos/ajillo.jpg');
}

.home-thumbnail-2{
	background-image: url('../fotos/ceviche.jpg');
}

.home-thumbnail-3{
	background-image: url('../fotos/aguachile.jpg');
}
